body {
    background-color: #ed8917;
    font-family:monospace;
}
.rectangle {
    text-align: center;
    font-size: 35px;
    width: 97%;
    margin: 10px auto;
    height: 125px;
    padding: 15px;
    position: absolute;
}
#qn {
    top: 50%;
    color: #fffcfb;
    background-color: #222130;
    border-radius: 10px;
}
    
#choices {
    
    bottom: 0%;
    background-color: #464d57;
    color: #fffcfb;
    border-radius: 10px;
}
h1 {
    text-align: center;
    font-size: 40px;
    width: 100%;
    margin-top: -10px;
    color: #fffcfb;
    font-family: monospace
}
#p1 {
    position: absolute;
    left: 7%;
    top: 34%;
    font-size: 30px;
    color: #222130;
}
#p2 {
    position: absolute;
    right: 7%;
    top: 34%;
    font-size: 30px;
    color: #222130;
}
.square {
    width: 180px;
    height: 180px;
    background-color: #222130;
    top: 7%;
    position: absolute;
    bottom: 0%;
    color: azure;
    font-size: 150px;
    text-align: center;
    color: #fffcf8;
}
#p1score {
    left: 7%;
}
#p2score {
    right: 7%;
}
